@font-face {
    font-family: 'Cera Pro Regular';
    src: url('/assets/fonts/Cera-Pro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}  

html, body {
    height: 100%; /* This can also be set to auto if 100% causes issues */
    margin: 0;
    padding: 0;
    overflow: auto; /* Changed to auto to allow scrolling */
}

body {
    background-color: white;
    color: black;
    font-family: 'Cera Pro Regular', sans-serif;
    display: flex; /* Changed to flex */
    justify-content: center; /* Centers content horizontally */
    text-align: justify;
    min-height: 100vh; /* Ensures at least full viewport height */
    margin-top: 40px;
}

.container {
    width: 100%;
    max-width: 700px; /* Adjust max-width as needed */
    margin: auto; /* Center vertically if body is flex */
    padding: 0 0px;
    box-sizing: border-box; /* Include padding in the width calculation */
}


  


  

.main-text {
    text-align: center;
    letter-spacing: 8px;
    font-size: 28pt;
    margin-bottom: 50px;
    font-weight: 600;
    margin-right: -8px;
}

.main-logo {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 420px;
    height: auto;
}

.contact-info {
    font-weight: 400;
    font-size: 8.5pt;
    letter-spacing: 2.2px;
    line-height: 10px;
    margin-right: -2.2px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Adjustments for screens smaller than 600px wide */
@media (max-width: 600px) {
    .main-logo {
        max-width: 300px; /* Adjust the logo size for smaller screens */
        margin-top: 40px;
        margin-bottom: 40px; /* Optionally adjust the bottom margin */
    }

    .contact-info {
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 7pt; /* Adjust text size for readability */
        letter-spacing: 1.8px; /* Adjust letter spacing */
        line-height: 8px; /* Adjust line height for better readability */
        margin-right: -1.8px;
    }
}

/*
a {
    color: white;
    text-decoration: none;
}
*/

a:hover, a:active {
    text-decoration: underline;
}

